﻿@page "/Categories"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<h1>Categories</h1>

@if (cats == null)
{
	<p>loading...</p>
}
else
{
	<RadzenTree @ref="tree" Data="@GetRoot()" Expand="@LoadCat" Change="@TreeSelect">
		<RadzenTreeLevel Text="@GetCatText" />
	</RadzenTree>

	<RadzenGrid TItem="ProductCategory">
		<Columns>
			<RadzenGridColumn TItem="ProductCategory" Property="Name" Title="Name">
				<FooterTemplate>
					@if (catSel != null)
					{
						<RadzenTextBox Name="Name" @bind-Value="catSel.Name" Placeholder="Name" />
					}
					else
					{
						<RadzenTextBox Name="Name" @bind-Value="catNew.Name" Placeholder="Name" />
					}
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="ProductCategory" Property="Description" Title="Description">
				<FooterTemplate>
					@if (catSel != null)
					{
						<RadzenTextBox Name="Description" @bind-Value="catSel.Description" Placeholder="Description" />
					}
					else
					{
						<RadzenTextBox Name="Description" @bind-Value="catNew.Description" Placeholder="Description" />
					}
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="ProductCategory" Property="Parent" Title="Parent">
				<FooterTemplate>
					@if (catSel != null)
					{
						<RadzenDropDown AllowClear="true"  Name="Category" TextProperty="Name" ValueProperty="Id" Data="AvailableParents(catSel)" @bind-Value="catSel.Parent" Placeholder="Select..." />
					}
					else
					{
						<RadzenDropDown  AllowClear="true" Name="Category" TextProperty="Name" ValueProperty="Id" Data="cats" @bind-Value="catNew.Parent" Placeholder="Select..." />
					}
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="ProductCategory">
				<FooterTemplate>
					@if (catSel != null)
					{
						<RadzenButton Text="Edit" Click="@(args => Edit(catSel))" />
						<RadzenButton Text="Cancel" Click="Unselect" />
					}
					else
					{
						<RadzenButton Text="Create" Click="@(args => AddNew(catNew))" />
					}
				</FooterTemplate>
			</RadzenGridColumn>
		</Columns>
	</RadzenGrid>
}

@code
{
	RadzenTree tree;
	static IEnumerable<ProductCategory> cats;
	ProductCategory catNew = new ProductCategory();
	ProductCategory catSel = null;


	IEnumerable<ProductCategory> AvailableParents(ProductCategory current)
	{
		List<ProductCategory> allChildren = GetAllChildren(current);
		List<ProductCategory> result = new List<ProductCategory>();
		foreach (ProductCategory cat in cats)
		{
			if ( !allChildren.Contains(cat) && cat.Id != current.Id)
			{
				result.Add(cat);
			}
		}
		return result;
	}


	void Unselect()
	{
		catSel = null;
	}
	void TreeSelect(TreeEventArgs args)
	{
		catSel = args.Value as ProductCategory;
	}

	protected async override Task OnInitializedAsync()
	{
		cats = await Task.FromResult(context.ProductCategory);
	}

	void AddNew(ProductCategory pc)
	{
		context.Add(pc);
		context.SaveChanges();
		catNew = new ProductCategory();
		js.InvokeAsync<object>("reloadPage");
	}
	void Edit(ProductCategory pc)
	{
		context.Update<ProductCategory>(pc);
		context.SaveChanges();
		js.InvokeAsync<object>("reloadPage");
	}

	//ech
	private static IEnumerable<ProductCategory> GetRoot()
	{
		return cats.Where((cat) => { return cat.Parent == null; });
	}
	private static List<ProductCategory> GetChildren(ProductCategory parent)
	{
		List<ProductCategory> children = new List<ProductCategory>();
		foreach (ProductCategory cat in cats)
		{
			if (cat.Parent != null && cat.Parent == parent.Id)
			{
				children.Add(cat);
			}
		}
		return children;
	}
	private static List<ProductCategory> GetAllChildren(ProductCategory parent)
	{
		List<ProductCategory> children = GetChildren(parent);
		foreach (ProductCategory child in GetChildren(parent))
		{
			children.AddRange( GACRec(child) );
		}
		return children;
	}
	private static List<ProductCategory> GACRec(ProductCategory cat)
	{
		List<ProductCategory> children = GetChildren(cat);
		foreach (ProductCategory child in GetChildren(cat))
		{
			children.AddRange( GACRec(child) );
		}
		return children;
	}

	private static bool HasChildren(object parent)
	{
		return GetChildren(parent as ProductCategory).Count > 0;
	}
	string GetCatText(object data)
	{
		return (data as ProductCategory).Name;
	}
	void LoadCat(TreeExpandEventArgs args)
	{
		ProductCategory cat = args.Value as ProductCategory;
		args.Children.Data = GetChildren(cat);
		args.Children.Text = GetCatText;
		args.Children.HasChildren = (obj) => HasChildren(obj);
	}
}
