﻿@page "/Check/{equipID}"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@if (selProduct == null || pstocks == null)
{
    <p>loading...</p>
}
else
{
    <h1>Equipment check of @selProduct.Name</h1>

    <RadzenGrid @ref="psGrid" Data="@pstocks" TItem="Models.Equipmentcheck">
        <Columns>
            <RadzenGridColumn TItem="Models.Equipmentcheck" Property="Reason" Title="Reason">
                <EditTemplate Context="prodEdit">
                    <RadzenTextBox Name="Reason" @bind-Value="prodEdit.Reason" />
                </EditTemplate>
                <FooterTemplate>

                    <RadzenTextBox Name="Reason" @bind-Value="psNew.Reason" Placeholder="Reason" />

                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Models.Equipmentcheck" Property="Location" Title="Location">
                <EditTemplate Context="prodEdit">
                    <RadzenTextBox Name="Location" @bind-Value="prodEdit.Location" />
                </EditTemplate>
                <FooterTemplate>

                    <RadzenTextBox Name="Location" @bind-Value="psNew.Location" Placeholder="Location" />

                </FooterTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Models.Equipmentcheck" Property="State" Title="State">
                <EditTemplate Context="prodEdit">
                    <RadzenTextBox Name="State" @bind-Value="prodEdit.State" />
                </EditTemplate>
                <FooterTemplate>

                    <RadzenTextBox Name="State" @bind-Value="psNew.State" Placeholder="State" />

                </FooterTemplate>
            </RadzenGridColumn>


            <RadzenGridColumn Width="200px" TItem="Models.Equipmentcheck" Property="Date" Title="Date written">
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Models.Equipmentcheck" Property="EquipmentId" Title="Equipment" Context="data">
                <Template>
                    @context.Equipment.Find(data.Equipmentid).Name
                </Template>

            </RadzenGridColumn>
            <RadzenGridColumn TItem="Equipmentcheck">
                <Template Context="note">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="highlight_off" Size="ButtonSize.Small" Click="@(args => DeleteRow(note))">
                    </RadzenButton>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Equipmentcheck">
                <Template Context="prodEdit">
                    <RadzenButton Icon="edit" Click="@(args => EditRow(prodEdit))" />
                </Template>
                <EditTemplate Context="prodEdit">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
                </EditTemplate>
                <FooterTemplate>
                    <RadzenButton Text="Create" Click="@(args => AddRow(psNew))" />
                </FooterTemplate>
            </RadzenGridColumn>


        </Columns>
    </RadzenGrid>
}

@code {
    [Parameter]
    public string equipID { get; set; }
    Models.Equipment selProduct;

    Equipmentcheck moveFrom;
    IEnumerable<Equipmentcheck> moveToChoices;
    Note moveTo;
    uint moveAmount = 1;
    IEnumerable<Equipmentcheck> pstocks;
    RadzenGrid<Equipmentcheck> psGrid;
    Equipmentcheck psNew = new Equipmentcheck();



    protected override async Task OnInitializedAsync()
    {
        selProduct = await Task.FromResult(context.Equipment.Find(int.Parse(equipID)));
        psNew.Equipmentid = selProduct.Id;

        pstocks = await Task.FromResult(context.Equipmentcheck.Where(delegate (Models.Equipmentcheck s) { return s.Equipmentid == selProduct.Id; }));
    }

    void AddRow(Equipmentcheck ps)
    {
        if (ps.Reason == null || ps.Location == null || ps.State == null)
            return;
        ps.Date = DateTime.Now;
        ps.Equipmentid = int.Parse(equipID);
        context.Add(ps);
        context.SaveChanges();
        psGrid.Reload();
        psNew = new Equipmentcheck();
        js.InvokeAsync<object>("reloadPage");
    }
    void EditRow(Equipmentcheck ps)
    {
        psGrid.EditRow(ps);
    }
    void UpdateRow(Equipmentcheck ps)
    {
       if (ps.Reason == "" || ps.Location == "" || ps.State ==  "")
            return;
        psGrid.UpdateRow(ps);

        context.Update<Equipmentcheck>(ps);
        context.SaveChanges();
    }
    void CancelEdit(Equipmentcheck ps)
    {
        psGrid.CancelEditRow(ps);

        var entry = context.Entry(ps);
        entry.CurrentValues.SetValues(entry.OriginalValues);
        entry.State = EntityState.Unchanged;
    }
    void DeleteRow(Equipmentcheck ps)
    {
        context.Remove<Equipmentcheck>(ps);
        context.SaveChanges();
        psGrid.Reload();
    }
}