﻿@page "/Documents/{equipID}"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@if (selProduct == null || pstocks == null)
{
    <p>loading...</p>
}
else
{

    <h1>Documents of equipment:  @selProduct.Name</h1>

    <RadzenGrid @ref="psGrid" Data="@pstocks" TItem="Models.Document">
        <Columns>
            <RadzenGridColumn TItem="Models.Document" Property="Text" Title="Text">
                <EditTemplate Context="prodEdit">
                    <RadzenTextBox Name="Text" @bind-Value="prodEdit.Text" />
                </EditTemplate>
                <FooterTemplate>

                    <RadzenTextBox Name="Text" @bind-Value="psNew.Text" Placeholder="Text" />

                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Models.Document" Property="Name" Title="Name">
                <EditTemplate Context="prodEdit">
                    <RadzenTextBox Name="Name" @bind-Value="prodEdit.Name" />
                </EditTemplate>
                <FooterTemplate>

                    <RadzenTextBox Name="Name" @bind-Value="psNew.Name" Placeholder="Name" />

                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Models.Document" Property="Author" Title="Author">
                <EditTemplate Context="prodEdit">
                    <RadzenTextBox Name="Author" @bind-Value="prodEdit.Author" />
                </EditTemplate>
                <FooterTemplate>

                    <RadzenTextBox Name="Author" @bind-Value="psNew.Author" Placeholder="Author" />

                </FooterTemplate>
            </RadzenGridColumn>


            <RadzenGridColumn TItem="Models.Document" Property="Dateofcreation" Title="Date written">
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Models.Document" Property="EquipmentId" Title="Equipment" Context="data">
                <Template>
                    @context.Equipment.Find(data.Equipmentid).Name
                </Template>

            </RadzenGridColumn>
            <RadzenGridColumn TItem="Document">
                <Template Context="document">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="highlight_off" Size="ButtonSize.Small" Click="@(args => DeleteRow(document))">
                    </RadzenButton>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Document">
                <Template Context="prodEdit">
                    <RadzenButton Icon="edit" Click="@(args => EditRow(prodEdit))" />
                </Template>
                <EditTemplate Context="prodEdit">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
                </EditTemplate>
                <FooterTemplate>
                    <RadzenButton Text="Create" Click="@(args => AddRow(psNew))" />
                </FooterTemplate>
            </RadzenGridColumn>


        </Columns>
    </RadzenGrid>

}

@code {
    [Parameter]
    public string equipID { get; set; }
    Models.Equipment selProduct;

    IEnumerable<Document> pstocks;
    RadzenGrid<Document> psGrid;
    Document psNew = new Document();


    protected override async Task OnInitializedAsync()
    {
        selProduct = await Task.FromResult(context.Equipment.Find(int.Parse(equipID)));
        psNew.Equipmentid = selProduct.Id;

        pstocks = await Task.FromResult(context.Document.Where(delegate (Models.Document s) { return s.Equipmentid == selProduct.Id; }));
    }

    void AddRow(Document ps)
    {
        if (ps.Text == null || ps.Name == null || ps.Author == null)
            return;
        ps.Dateofcreation = DateTime.Now;
        ps.Equipmentid = int.Parse(equipID);
        context.Add(ps);
        context.SaveChanges();
        psGrid.Reload();
        psNew = new Document();
        js.InvokeAsync<object>("reloadPage");
    }
    void EditRow(Document ps)
    {
        psGrid.EditRow(ps);
    }
    void UpdateRow(Document ps)
    {
           if (ps.Text == "" || ps.Name == "" || ps.Author == "")
            return;
        psGrid.UpdateRow(ps);

        context.Update<Document>(ps);
        context.SaveChanges();
    }
    void CancelEdit(Document ps)
    {
        psGrid.CancelEditRow(ps);

        var entry = context.Entry(ps);
        entry.CurrentValues.SetValues(entry.OriginalValues);
        entry.State = EntityState.Unchanged;
    }
    void DeleteRow(Document ps)
    {
        context.Remove<Document>(ps);
        context.SaveChanges();
        psGrid.Reload();
    }
}