﻿@page "/Employee"

@using ISproj.Models
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager

<h3>Employee</h3>

@*<button type="button" class="btn btn-outline-primary">New employee</button>*@

@*<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@workers" TItem="Worker" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="Worker" Title="Id" Property="Id" />
            <RadzenGridColumn TItem="Worker" Title="Name" Property="Name" />
            <RadzenGridColumn TItem="Worker" Title="Surname" Property="Surname" />
            <RadzenGridColumn TItem="Worker" Title="Date" Property="Date" />
            <RadzenGridColumn TItem="Worker" Title="Thworked" Property="Thworked" />
            <RadzenGridColumn TItem="Worker" Context="worker" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="course">
                    <RadzenButton Icon="alarm" Click="@(args => NavigationManager.NavigateTo($"/Schedule"))" />
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Worker">
                <Template Context="prodEdit">
                    <RadzenButton Icon="edit" Click="@(args => EditRow(prodEdit))" />
                </Template>
                <HeaderTemplate>
                    <RadzenButton Text="Woker" Click="@(args => NavigationManager.NavigateTo($"/Worker"))" />
                </HeaderTemplate>
                <EditTemplate Context="prodEdit">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
                </EditTemplate>
                <FooterTemplate>
                    <RadzenButton Text="Create" Click="@(args => AddRow(workNew))" />
                </FooterTemplate>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>*@
<RadzenGrid @ref="prodsGrid" Data="@workers" TItem="Worker">
    <Columns>

        <RadzenGridColumn TItem="Worker" Property="Name" Title="Name">
            <EditTemplate Context="prodEdit">
                <RadzenTextBox Name="Name" @bind-Value="prodEdit.Name" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenTextBox Name="Name" @bind-Value="workNew.Name" Placeholder="Name" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Worker" Property="Surname" Title="Surname">
            <EditTemplate Context="prodEdit">
                <RadzenTextArea Name="Surname" @bind-Value="prodEdit.Surname" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenTextBox Name="Surname" @bind-Value="workNew.Surname" Placeholder="Surname" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Worker" Property="Date" Title="Date">
            <EditTemplate Context="prodEdit">
                <RadzenTextArea Name="Date" @bind-Value="prodEdit.Date" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenTextArea Name="Date" @bind-Value="workNew.Date" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Worker" Property="Thworked" Title="Thworked">
            <EditTemplate Context="prodEdit">
                <RadzenNumeric Name="Thworked" @bind-Value="prodEdit.Thworked" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenNumeric Name="Thworked" @bind-Value="workNew.Thworked" Placeholder="Thworked" />
            </FooterTemplate>
        </RadzenGridColumn>

        @*<RadzenGridColumn TItem="Worker" Property="Clientid" Title="Clientid">
                <EditTemplate Context="prodEdit">
                    <RadzenNumeric Name="Clientid" @bind-Value="prodEdit.Clientid" />
                </EditTemplate>
                <FooterTemplate>
                    <RadzenNumeric Name="Clientid" @bind-Value="workNew.Clientid" Placeholder="Clientid" />
                </FooterTemplate>
            </RadzenGridColumn>*@

        <RadzenGridColumn TItem="Worker">
            <Template Context="prodEdit">
                <RadzenButton Icon="edit" Click="@(args => EditRow(prodEdit))" />
            </Template>
            @*<HeaderTemplate>
                    <RadzenButton Text="Categories" Click="@(args => NavigationManager.NavigateTo($"/Categories"))" />
                </HeaderTemplate>*@
            <EditTemplate Context="prodEdit">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
                <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
                <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="@((args) => DeleteRow(prodEdit))" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenButton Text="Create" Click="@(args => AddRow(workNew))" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Worker" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
            <Template Context="data">
                <RadzenButton Icon="alarm" Click="@( args => NavigationManager.NavigateTo($"/Schedule/{data.Id}"))" />
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@code {
            IEnumerable<Worker> workers;
            RadzenGrid<Worker> prodsGrid;
            Worker workNew = new Worker();

            Worker worker;

            void AddRow(Worker p)
            {
                if (p.Date == null || p.Name == null || p.Surname == null || p.Thworked==0)
            return;
        context.Add(p);

        context.SaveChanges();

        prodsGrid.Reload();
        workNew = new Worker();
    }

    void CancelEdit(Worker p)
    {

        prodsGrid.CancelEditRow(p);

        var entry = context.Entry(p);
        entry.CurrentValues.SetValues(entry.OriginalValues);
        entry.State = EntityState.Unchanged;
    }
    void DeleteRow(Worker p)
    {
        context.Remove<Worker>(p);
        context.SaveChanges();
        prodsGrid.Reload();
    }

    protected override async Task OnInitializedAsync()
    {
        workers = await Task.FromResult(context.Worker);
    }

    void MakeOrder(Worker k)
    {
        NavigationManager.NavigateTo($"/neworder/{k.Id}");
    }
    void EditRow(Worker p)
    {
        prodsGrid.EditRow(p);
    }
    void UpdateRow(Worker p)
    {
        prodsGrid.UpdateRow(p);

        context.Update<Worker>(p);
        context.SaveChanges();
    }
}
