﻿@page "/Equipment"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<RadzenGrid @ref="EquipmentsGrid" Data="@Equipments" TItem="Models.Equipment">
    <Columns>
        <RadzenGridColumn TItem="Models.Equipment" Context="data">
            <Template>
                <RadzenButton Icon="assessment" Text="Notes" Click="@( args => NavigationManager.NavigateTo($"/Notes/{data.Id}") )" />
            </Template>

        </RadzenGridColumn>
        <RadzenGridColumn TItem="Models.Equipment" Context="data">
            <Template>
                <RadzenButton Icon="assessment" Text="Documents" Click="@( args => NavigationManager.NavigateTo($"/Documents/{data.Id}") )" />
            </Template>

        </RadzenGridColumn>
        <RadzenGridColumn TItem="Models.Equipment" Context="data">
            <Template>
                <RadzenButton Icon="assessment" Text="maintenance" Click="@( args => NavigationManager.NavigateTo($"/Check/{data.Id}") )" />
            </Template>

        </RadzenGridColumn>

        <RadzenGridColumn TItem="Models.Equipment" Property="Name" Title="Name">
            <FooterTemplate>
                <RadzenTextBox Name="Name" @bind-Value="prodNew.Name" Placeholder="Name" />
            </FooterTemplate>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Models.Equipment" Property="Id" Title="ID">

        </RadzenGridColumn>
        <RadzenGridColumn TItem="Models.Equipment" Property="Warehouseid" Title="Warehouse" Context="data">

            @*<FooterTemplate>
            <RadzenTextBox Name="Id" @bind-Value="prodNew.Warehouseid" Placeholder="Name" />
        </FooterTemplate>*@
            <Template>
                @(data.Warehouseid != 0 ? context.Find<Warehouse>((uint)data.Warehouseid).Name : "Not asigned")

            </Template>
            <EditTemplate Context="whEdit">
                <RadzenDropDown Name="Warehouseid" ValueProperty="Id" Data="@cats" @bind-Value="whEdit.Warehouseid" TextProperty="Name" Placeholder="Select..." />
            </EditTemplate>
            <FooterTemplate>
                <RadzenDropDown Name="Warehouseid" ValueProperty="Id" Data="@cats" @bind-Value="prodNew.Warehouseid" TextProperty="Name" Placeholder="Select..." />
            </FooterTemplate>

        </RadzenGridColumn>
        <RadzenGridColumn TItem="Models.Equipment">
            <Template Context="Equipment">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="highlight_off" Size="ButtonSize.Small" Click="@(args => DeleteRow(Equipment))">
                </RadzenButton>
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="Models.Equipment">
            <Template Context="whEdit">
                <RadzenButton Icon="edit" Click="@(args => EditRow(whEdit))" />
            </Template>
            <EditTemplate Context="whEdit">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(whEdit))" />
                <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(whEdit))" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenButton Text="Create" Click="@(args => AddRow(prodNew))" />
            </FooterTemplate>
        </RadzenGridColumn>


    </Columns>
</RadzenGrid>



@code {
    RadzenGrid<Models.Equipment> EquipmentsGrid;
    IEnumerable<Models.Equipment> Equipments;
    IEnumerable<Models.Warehouse> cats;
    Models.Equipment prodNew = new Models.Equipment();


    protected override async Task OnInitializedAsync()
    {
        cats = await Task.FromResult(context.Warehouse);
        Equipments = await Task.FromResult(context.Equipment);
    }
    void AddRow(Models.Equipment p)
    {
        context.Add(p);

        context.SaveChanges();

        EquipmentsGrid.Reload();
        prodNew = new Models.Equipment();
    }
    void EditRow(Models.Equipment p)
    {
        EquipmentsGrid.EditRow(p);
    }
    void UpdateRow(Models.Equipment p)
    {
        EquipmentsGrid.UpdateRow(p);

        context.Update<Models.Equipment>(p);
        context.SaveChanges();
    }
    void CancelEdit(Models.Equipment p)
    {
        EquipmentsGrid.CancelEditRow(p);

        var entry = context.Entry(p);
        entry.CurrentValues.SetValues(entry.OriginalValues);
        entry.State = EntityState.Unchanged;
    }
    void DeleteRow(Models.Equipment ps)
    {
        
        context.Note.RemoveRange(context.Note.Where(a => a.Equipmentid == ps.Id));
        context.Document.RemoveRange(context.Document.Where(a => a.Equipmentid == ps.Id));
        context.Equipmentcheck.RemoveRange(context.Equipmentcheck.Where(a => a.Equipmentid == ps.Id));
        context.Remove<Models.Equipment>(ps);
        context.SaveChanges();
        EquipmentsGrid.Reload();
    }
}