﻿@page "/Notes/{equipID}"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@if (selProduct == null || pstocks == null)
{
    <p>loading...</p>
}
else
{
    <h1>Notes of equipment:  @selProduct.Name</h1>

    <RadzenGrid @ref="psGrid" Data="@pstocks" TItem="Models.Note">
        <Columns>
            <RadzenGridColumn TItem="Models.Note" Property="Text" Title="Text">
                <EditTemplate Context="prodEdit">
                    <RadzenTextBox Name="Text" @bind-Value="prodEdit.Text" />
                </EditTemplate>
                <FooterTemplate>

                    <RadzenTextBox Name="Text" @bind-Value="psNew.Text" Placeholder="Text" />

                </FooterTemplate>
            </RadzenGridColumn>


            <RadzenGridColumn TItem="Models.Note" Property="Date" Title="Date written">
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Models.Note" Property="EquipmentId" Title="Equipment" Context="data">
                <Template>
                    @context.Equipment.Find(data.Equipmentid).Name
                </Template>

            </RadzenGridColumn>
            <RadzenGridColumn  TItem="Note">
                <Template Context="note">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="highlight_off" Size="ButtonSize.Small" Click="@(args => DeleteRow(note))">
                    </RadzenButton>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Note">
                <Template Context="prodEdit">
                    <RadzenButton Icon="edit" Click="@(args => EditRow(prodEdit))" />
                </Template>
                <EditTemplate Context="prodEdit">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
                </EditTemplate>
                <FooterTemplate>
                    <RadzenButton Text="Create" Click="@(args => AddRow(psNew))" />
                </FooterTemplate>
            </RadzenGridColumn>


        </Columns>
    </RadzenGrid>
}

@code {
    [Parameter]
    public string equipID { get; set; }
    Models.Equipment selProduct;

    Note moveFrom;
    IEnumerable<Note> moveToChoices;
    Note moveTo;
    uint moveAmount = 1;
    IEnumerable<Note> pstocks;
    RadzenGrid<Note> psGrid;
    Note psNew = new Note();



    protected override async Task OnInitializedAsync()
    {
        selProduct = await Task.FromResult(context.Equipment.Find(int.Parse(equipID)));
        psNew.Equipmentid = selProduct.Id;

        pstocks = await Task.FromResult(context.Note.Where(delegate (Models.Note s) { return s.Equipmentid == selProduct.Id; }));
    }

    void AddRow(Note ps)
    {
        if (ps.Text == null)
            return;
        ps.Date = DateTime.Now;
        ps.Equipmentid = int.Parse(equipID);
        context.Add(ps);
        context.SaveChanges();
        psGrid.Reload();
        psNew = new Note();
        js.InvokeAsync<object>("reloadPage");
    }
    void EditRow(Note ps)
    {
        psGrid.EditRow(ps);
    }
    void UpdateRow(Note ps)
    {
         if (ps.Text == "")
            return;
        psGrid.UpdateRow(ps);

        context.Update<Note>(ps);
        context.SaveChanges();
    }
    void CancelEdit(Note ps)
    {
        psGrid.CancelEditRow(ps);

        var entry = context.Entry(ps);
        entry.CurrentValues.SetValues(entry.OriginalValues);
        entry.State = EntityState.Unchanged;
    }
    void DeleteRow(Note ps)
    {
        context.Remove<Note>(ps);
        context.SaveChanges();
        psGrid.Reload();
    }
}