﻿@page "/Products"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<h1>Products</h1>

@if (products == null || cats == null)
{
	<p>loading...</p>
}
else
{
	<RadzenGrid @ref="prodsGrid" Data="@products" TItem="Product">
		<Columns>
			<RadzenGridColumn TItem="Product" Context="data">
				<Template>
					<RadzenButton Icon="assessment" Text="Stock" Click="@( args => NavigationManager.NavigateTo($"/Stocks/{data.Id}") )" />
				</Template>
				<HeaderTemplate>
					<RadzenButton Text="Warehouses" Click="@(args => NavigationManager.NavigateTo($"/Warehouses"))" />
				</HeaderTemplate>
				<FooterTemplate>
					New
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Product" Property="Name" Title="Name">
				<EditTemplate Context="prodEdit">
					<RadzenTextBox Name="Name" @bind-Value="prodEdit.Name" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenTextBox Name="Name" @bind-Value="prodNew.Name" Placeholder="Name" />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Product" Property="Description" Title="Description">
				<EditTemplate Context="prodEdit">
					<RadzenTextArea Name="Description" @bind-Value="prodEdit.Description" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenTextBox Name="Description" @bind-Value="prodNew.Description" Placeholder="Description" />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Product" Property="Price" Title="Price">
				<EditTemplate Context="prodEdit">
					<RadzenNumeric Name="Price" Min="0" @bind-Value="prodEdit.Price" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenNumeric Name="Price" Min="0" @bind-Value="prodNew.Price" />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Product" Property="Manufacturer" Title="Manufacturer">
				<EditTemplate Context="prodEdit">
					<RadzenTextBox Name="Manufacturer" @bind-Value="prodEdit.Manufacturer" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenTextBox Name="Manufacturer" @bind-Value="prodNew.Manufacturer" Placeholder="Manufacturer" />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Product" Property="Category" Title="Category" Context="data">
				<Template>
					@(data.Category != null ? context.Find<ProductCategory>(data.Category).Name : "")
				</Template>
				<EditTemplate Context="prodEdit">
					<RadzenDropDown Name="Category" ValueProperty="Id" Data="@cats" @bind-Value="prodEdit.Category" TextProperty="Name" Placeholder="Select..." />
				</EditTemplate>
				<FooterTemplate>
					<RadzenDropDown Name="Category" ValueProperty="Id" Data="@cats" @bind-Value="prodNew.Category" TextProperty="Name" Placeholder="Select..." />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Product">
				<Template Context="prodEdit">
					<RadzenButton Icon="edit" Click="@(args => EditRow(prodEdit))" />
				</Template>
				<HeaderTemplate>
					<RadzenButton Text="Categories" Click="@(args => NavigationManager.NavigateTo($"/Categories"))" />
				</HeaderTemplate>
				<EditTemplate Context="prodEdit">
					<RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
					<RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenButton Text="Create" Click="@(args => AddRow(prodNew))" />
				</FooterTemplate>
			</RadzenGridColumn>
		</Columns>
	</RadzenGrid>
	<style>
		.ui-button-icon-left {
			color: white !important;
		}
	</style>
	<RadzenButton Text="Export" Icon="grid_on" Click="@(args => ExportToExcel())" />
}


@code {
	RadzenGrid<Product> prodsGrid;
	IEnumerable<Product> products;
	IEnumerable<ProductCategory> cats;
	Product prodNew = new Product();

	protected override async Task OnInitializedAsync()
	{
		cats = await Task.FromResult(context.ProductCategory);
		products = await Task.FromResult(context.Product);
	}

	void AddRow(Product p)
	{
		context.Add(p);

		context.SaveChanges();

		prodsGrid.Reload();
		prodNew = new Product();
	}
	void EditRow(Product p)
	{
		prodsGrid.EditRow(p);
	}
	void UpdateRow(Product p)
	{
		prodsGrid.UpdateRow(p);

		context.Update<Product>(p);
		context.SaveChanges();
	}
	void CancelEdit(Product p)
	{
		prodsGrid.CancelEditRow(p);

		var entry = context.Entry(p);
		entry.CurrentValues.SetValues(entry.OriginalValues);
		entry.State = EntityState.Unchanged;
	}
	void DeleteRow(Product p)
	{
		context.Remove<Product>(p);
		context.SaveChanges();
		prodsGrid.Reload();
	}

	public async void ExportToExcel()
	{
		await js.InvokeAsync<object>(
				"saveFileFromBytes",
				"products.xlsx",
				Convert.ToBase64String(ISproj.ProductExport.CreateExcelFile(context.Product, context.ProductCategory, "products.xlsx")));
	}
}
