﻿@page "/Profile"

@using ISproj.Models
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <RadzenTemplateForm Data="@user" Submit="@(async (UserDTO args) => { await Submit(args); })">
                <RadzenFieldset Text="User information">
                    <ChildContent>
                        <div class="row">
                            <div class="col-md-2">
                                <RadzenLabel Text="Password">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-2">
                                <RadzenPassword style="width: 100%;" Name="password">
                                </RadzenPassword>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenFieldset>
                <div>
                    <div class="col-md-12 d-flex align-items-end" style="margin-top: 16px;">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Confirm">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel">
                        </RadzenButton>
                    </div>
                </div>
            </RadzenTemplateForm>
        </div>
    </div>
}

@code {

    public class UserDTO
    {
        public string mail { get; set; }
        public string password { get; set; }
    }
    public UserDTO user = new UserDTO();

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    async Task Submit(UserDTO arg)
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
        var prof = context.Client.SingleOrDefault(x => x.Mail == authState.User.Identity.Name);
        CreatePasswordHash(arg.password, out byte[] passwordHash, out byte[] passwordSalt);
        prof.Hash = passwordHash;
        prof.Salt = passwordSalt;
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }

    private static void CreatePasswordHash(string password, out byte[] passwordHash, out byte[] passwordSalt)
    {
        if (password == null) throw new ArgumentNullException("password");
        if (string.IsNullOrWhiteSpace(password)) throw new ArgumentException("Value cannot be empty or whitespace only string.", "password");

        using (var hmac = new System.Security.Cryptography.HMACSHA512())
        {
            passwordSalt = hmac.Key;
            passwordHash = hmac.ComputeHash(System.Text.Encoding.UTF8.GetBytes(password));
        }
    }
}
