﻿@page "/Register"

@using ISproj.Models
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager

<h3>Register</h3>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <RadzenTemplateForm Data="@user" Submit="@(async (UserDTO args) => { await Submit(args); })">
                <RadzenFieldset Text="User information">
                    <ChildContent>
                        <div class="row">
                            <div class="col-md-2">
                                <RadzenLabel Text="E-mail">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-2">
                                <RadzenTextBox style="width: 100%;" Name="mail">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <RadzenLabel Text="Password">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-2">
                                <RadzenPassword style="width: 100%;" Name="password">
                                </RadzenPassword>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenFieldset>
                <div>
                    <div class="col-md-12 d-flex align-items-end" style="margin-top: 16px;">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Confirm">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel">
                        </RadzenButton>
                    </div>
                </div>
            </RadzenTemplateForm>
        </div>
    </div>
}

@code {
    public class UserDTO
    {
        public string mail { get; set; }
        public string password { get; set; }
    }
    public UserDTO user = new UserDTO();

    void Cancel()
    {
        NavigationManager.NavigateTo("/Register");
    }

    async Task Submit(UserDTO arg)
    {
        var vart = Create(arg);
        if (vart == null)
        {
            NavigationManager.NavigateTo("/");
        }
        context.Client.Add(vart);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }

    private Client Create(UserDTO dto)
    {
        // validation
        if (string.IsNullOrWhiteSpace(dto.mail))
            return null;

        if (string.IsNullOrWhiteSpace(dto.password))
            return null;

        if (context.Client.Any(x => x.Mail == dto.mail))
            return null;

        var sp = dto.mail.Split('@');
        if (sp.Length != 2)
            return null;

        CreatePasswordHash(dto.password, out byte[] passwordHash, out byte[] passwordSalt);

        var vart = new Client();

        vart.Hash = passwordHash;
        vart.Salt = passwordSalt;
        vart.Mail = dto.mail;
        if (sp[1] == "admin.ktu.lt")
            vart.Role = 0;
        else if (sp[1] == "emp.ktu.lt")
            vart.Role = 2;
        else
            vart.Role = 1;

        return vart;
    }

    private static void CreatePasswordHash(string password, out byte[] passwordHash, out byte[] passwordSalt)
    {
        if (password == null) throw new ArgumentNullException("password");
        if (string.IsNullOrWhiteSpace(password)) throw new ArgumentException("Value cannot be empty or whitespace only string.", "password");

        using (var hmac = new System.Security.Cryptography.HMACSHA512())
        {
            passwordSalt = hmac.Key;
            passwordHash = hmac.ComputeHash(System.Text.Encoding.UTF8.GetBytes(password));
        }
    }
}
