﻿@page "/Schedule/{ProdID}"

@using ISproj.Models
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager

<h1>Schedule of @worker.Surname</h1>

<RadzenGrid @ref="prodsGrid" Data="@pstocks" TItem="Workschedule">
    <Columns>
        @*<RadzenGridColumn TItem="Workschedule" Title="Id" Property="Id" />
            <RadzenGridColumn TItem="Workschedule" Title="Workerid" Property="Workerid" />
            <RadzenGridColumn TItem="Workschedule" Title="Surname" Property="Surname" />*@
        <RadzenGridColumn TItem="Workschedule" Property="Date" Title="Date">
            <EditTemplate Context="prodEdit">
                <RadzenTextArea Name="Date" @bind-Value="prodEdit.Date" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenTextArea Name="Date" @bind-Value="workNew.Date" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Workschedule" Property="Starthour" Title="Thworked">
            <EditTemplate Context="prodEdit">
                <RadzenNumeric Name="Starthour" @bind-Value="prodEdit.Starthour" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenNumeric Name="Starthour" @bind-Value="workNew.Starthour" Placeholder="Starthour" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Workschedule" Property="Endhour" Title="Endhour">
            <EditTemplate Context="prodEdit">
                <RadzenNumeric Name="Endhour" @bind-Value="prodEdit.Endhour" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenNumeric Name="Endhour" @bind-Value="workNew.Endhour" Placeholder="Endhour" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Workschedule" Property="Hoursworked" Title="Hoursworked">
            <EditTemplate Context="prodEdit">
                <RadzenNumeric Name="Hoursworked" @bind-Value="prodEdit.Hoursworked" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenNumeric Name="Hoursworked" @bind-Value="workNew.Hoursworked" Placeholder="Hoursworked" />
            </FooterTemplate>
        </RadzenGridColumn>

        <RadzenGridColumn TItem="Workschedule">
            <Template Context="prodEdit">
                <RadzenButton Icon="edit" Click="@(args => EditRow(prodEdit))" />
            </Template>
            @*<HeaderTemplate>
                    <RadzenButton Text="Categories" Click="@(args => NavigationManager.NavigateTo($"/Categories"))" />
                </HeaderTemplate>*@
            <EditTemplate Context="prodEdit">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
                <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
                <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Warning" Click="@((args) => DeleteRow(prodEdit))" />
            </EditTemplate>
            <FooterTemplate>
                <RadzenButton Text="Create" Click="@(args => AddRow(workNew))" />
            </FooterTemplate>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>

@code {
    [Parameter]
    public string ProdId { get; set; }
    Worker worker;

    IEnumerable<Workschedule> pstocks;
    IEnumerable<Workschedule> products;

    Workschedule psNew = new Workschedule();
    Workschedule product;
    RadzenGrid<Workschedule> prodsGrid;
    Workschedule workNew = new Workschedule();

    protected override async Task OnInitializedAsync()
    {
        worker = await Task.FromResult(context.Worker.Find(int.Parse(ProdId)));
        psNew.Workerid = worker.Id;

        pstocks = await Task.FromResult(context.Workschedule.Where(delegate (Workschedule s) { return s.Workerid == worker.Id; }));
    }

    void AddRow(Workschedule p)
    {
        p.Workerid = int.Parse(ProdId);
        p.Surname = worker.Surname;
        context.Add(p);

        context.SaveChanges();

        prodsGrid.Reload();
        workNew = new Workschedule();
    }

    void CancelEdit(Workschedule p)
    {
        prodsGrid.CancelEditRow(p);

        var entry = context.Entry(p);
        entry.CurrentValues.SetValues(entry.OriginalValues);
        entry.State = EntityState.Unchanged;
    }
    void DeleteRow(Workschedule p)
    {
        context.Remove<Workschedule>(p);
        context.SaveChanges();
        prodsGrid.Reload();
    }

    void MakeOrder(Workschedule k)
    {
        NavigationManager.NavigateTo($"/neworder/{k.Id}");
    }
    void EditRow(Workschedule p)
    {
        prodsGrid.EditRow(p);
    }
    void UpdateRow(Workschedule p)
    {
        prodsGrid.UpdateRow(p);

        context.Update<Workschedule>(p);
        context.SaveChanges();
    }
}
