﻿@page "/Stocks/{ProdID}"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@inject IJSRuntime js

@if (selProduct == null || pstocks == null)
{
	<p>loading...</p>
}
else
{
	<h1>Stocks of @selProduct.Name</h1>

	<RadzenGrid @ref="psGrid" Data="@pstocks" TItem="ProductStock">
		<Columns>
			<RadzenGridColumn TItem="ProductStock" Property="Amount" Title="Amount">
				<EditTemplate Context="psEdit">
					<RadzenNumeric Name="Amount" Min="0" @bind-Value="psEdit.Amount" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenNumeric Name="Amount" Min="0" @bind-Value="psNew.Amount" />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="ProductStock" Property="Location" Title="Location" Context="data">
				<Template>
					@String.Format("{0} [{1}]", context.Find<Warehouse>(data.Location).Name, context.Find<Warehouse>(data.Location).Location)
				</Template>
				<EditTemplate Context="psEdit">
					<RadzenDropDown Name="Location" ValueProperty="Id" Data="@context.Warehouse" @bind-Value="psEdit.Location" Placeholder="Select...">
						<Template>
							@String.Format("{0} [{1}]", (context as Warehouse).Name, (context as Warehouse).Location)
						</Template>
					</RadzenDropDown>
				</EditTemplate>
				<FooterTemplate>
					<RadzenDropDown Name="Location" ValueProperty="Id" Data="@context.Warehouse" @bind-Value="psNew.Location" Placeholder="Select...">
						<Template>
							@String.Format("{0} [{1}]", (context as Warehouse).Name, (context as Warehouse).Location)
						</Template>
					</RadzenDropDown>
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="ProductStock">
				<Template Context="psEdit">
					<RadzenButton Icon="edit" Click="@(args => EditRow(psEdit))" />
				</Template>
				<EditTemplate Context="prodEdit">
					<RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(prodEdit))" />
					<RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(prodEdit))" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenButton Text="Create" Click="@(args => AddRow(psNew))" />
				</FooterTemplate>
			</RadzenGridColumn>
		</Columns>
	</RadzenGrid>

	<br>
	<h2>Move stock</h2>
	<RadzenGrid TItem="ProductStock">
		<Columns>
			<RadzenGridColumn TItem="ProductStock" Title="Move from">
				<FooterTemplate>
					<RadzenDropDown Data="pstocks" @bind-Value="moveFrom">
						<Template>
							@String.Format("{0} [{1}]", this.context.Warehouse.Find((context as ProductStock).Location).Name, this.context.Warehouse.Find((context as ProductStock).Location).Location)
						</Template>
					</RadzenDropDown>
				</FooterTemplate>
			</RadzenGridColumn>

			@if (moveFrom != null)
			{
				<RadzenGridColumn TItem="ProductStock" Title="Amount">
					<FooterTemplate>
						<RadzenNumeric @bind-Value="moveAmount" Min="0" Step="1" Max="@moveFrom.Amount" />
					</FooterTemplate>
				</RadzenGridColumn>

				<RadzenGridColumn TItem="ProductStock" Title="Move to">
					<FooterTemplate>
						<RadzenDropDown Data="context.ProductStock.Where( ps => ps != moveFrom )" @bind-Value="moveTo">
							<Template>
								@String.Format("{0} [{1}]", this.context.Warehouse.Find((context as ProductStock).Location).Name, this.context.Warehouse.Find((context as ProductStock).Location).Location)
							</Template>
						</RadzenDropDown>
					</FooterTemplate>
				</RadzenGridColumn>

				<RadzenGridColumn TItem="ProductStock">
					<FooterTemplate>
						<RadzenButton Text="Move" Click="@(args => MoveStock())" />
					</FooterTemplate>
				</RadzenGridColumn>
			}
		</Columns>
	</RadzenGrid>
}

@code {
	[Parameter]
	public string ProdId { get; set; }
	Product selProduct;

	ProductStock moveFrom;
	IEnumerable<ProductStock> moveToChoices;
	ProductStock moveTo;
	uint moveAmount = 1;

	IEnumerable<ProductStock> pstocks;
	RadzenGrid<ProductStock> psGrid;
	ProductStock psNew = new ProductStock();

	void MoveStock()
	{
		moveFrom.Amount -= moveAmount;
		moveTo.Amount += moveAmount;
		context.SaveChanges();
		js.InvokeAsync<object>("reloadPage");
	}

	protected override async Task OnInitializedAsync()
	{
		selProduct = await Task.FromResult( context.Product.Find(uint.Parse(ProdId)) );
		psNew.Product = selProduct.Id;

		pstocks = await Task.FromResult(context.ProductStock.Where(delegate (ProductStock s) { return s.Product == selProduct.Id; }));
	}

	void AddRow(ProductStock ps)
	{
		context.Add(ps);
		context.SaveChanges();
		psGrid.Reload();
		psNew = new ProductStock();
		js.InvokeAsync<object>("reloadPage");
	}
	void EditRow(ProductStock ps)
	{
		psGrid.EditRow(ps);
	}
	void UpdateRow(ProductStock ps)
	{
		psGrid.UpdateRow(ps);

		context.Update<ProductStock>(ps);
		context.SaveChanges();
	}
	void CancelEdit(ProductStock ps)
	{
		psGrid.CancelEditRow(ps);

		var entry = context.Entry(ps);
		entry.CurrentValues.SetValues(entry.OriginalValues);
		entry.State = EntityState.Unchanged;
	}
	void DeleteRow(ProductStock ps)
	{
		context.Remove<ProductStock>(ps);
		context.SaveChanges();
		psGrid.Reload();
	}
}