﻿@page "/Warehouses"
@using ISproj.Models;
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager

<h1>Warehouses</h1>

@if (whouses == null)
{
	<p>loading...</p>
}
else
{
	<RadzenGrid @ref="whGrid" Data="@whouses" TItem="Warehouse">
		<Columns>
			<RadzenGridColumn TItem="Warehouse" Property="Location" Title="Location">
				<EditTemplate Context="whEdit">
					<RadzenTextBox Name="Location" @bind-Value="whEdit.Location"/>
				</EditTemplate>
				<FooterTemplate>
					<RadzenTextBox Name="Location"@bind-Value="whNew.Location" Placeholder="Location" />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Warehouse" Property="Name" Title="Name">
				<EditTemplate Context="whEdit">
					<RadzenTextBox Name="Name" @bind-Value="whEdit.Name" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenTextBox Name="Name" @bind-Value="whNew.Name" Placeholder="Name" />
				</FooterTemplate>
			</RadzenGridColumn>

			<RadzenGridColumn TItem="Warehouse">
				<Template Context="whEdit">
					<RadzenButton Icon="edit" Click="@(args => EditRow(whEdit))" />
				</Template>
				<EditTemplate Context="whEdit">
					<RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(whEdit))" />
					<RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(whEdit))" />
				</EditTemplate>
				<FooterTemplate>
					<RadzenButton Text="Create" Click="@(args => AddRow(whNew))" />
				</FooterTemplate>
			</RadzenGridColumn>
		</Columns>
	</RadzenGrid>
}

@code {
	IEnumerable<Warehouse> whouses;
	RadzenGrid<Warehouse> whGrid;
	Warehouse whNew = new Warehouse();

	protected override async Task OnInitializedAsync()
	{
		whouses = await Task.FromResult(context.Warehouse);
	}

	void AddRow(Warehouse w)
	{
		context.Add(w);
		context.SaveChanges();
		whGrid.Reload();
		whNew = new Warehouse();
	}
	void EditRow(Warehouse w)
	{
		whGrid.EditRow(w);
	}
	void UpdateRow(Warehouse w)
	{
		whGrid.UpdateRow(w);

		context.Update<Warehouse>(w);
		context.SaveChanges();
	}
	void CancelEdit(Warehouse w)
	{
		whGrid.CancelEditRow(w);

		var entry = context.Entry(w);
		entry.CurrentValues.SetValues(entry.OriginalValues);
		entry.State = EntityState.Unchanged;
	}
	void DeleteRow(Warehouse w)
	{
		context.Remove<Warehouse>(w);
		context.SaveChanges();

		whGrid.Reload();
	}
}
