﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ISproj</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="admin, superuser,emp">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Equipment">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Equipment
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="admin, superuser">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Employee">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="user">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Catalog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Catalog
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="user">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Orders">
                    <span class="oi oi-plus" aria-hidden="true"></span> Orders
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="admin,emp">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Products">
                    <span class="oi oi-plus" aria-hidden="true"></span> Products
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
