﻿@page "/Catalog"

@using ISproj.Models
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@products" TItem="Product" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="Product" Title="Id" Property="Id" />
            <RadzenGridColumn TItem="Product" Title="Name" Property="Name" />
            <RadzenGridColumn TItem="Product" Title="Description" Property="Description" />
            <RadzenGridColumn TItem="Product" Title="Price" Property="Price" />
            <RadzenGridColumn TItem="Product" Title="Manufacturer" Property="Manufacturer" />
            <RadzenGridColumn TItem="Product" Title="Category" Property="Category" />
            <RadzenGridColumn TItem="Product" Context="product" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="course">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add_shopping_cart" Size="ButtonSize.Small" Click="@(args => MakeOrder(course))">
                    </RadzenButton>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code {
    IEnumerable<Product> products;

    Product product;

    protected override async Task OnInitializedAsync()
    {
        products = await Task.FromResult(context.Product);
    }

    void MakeOrder(Product k)
    {
        NavigationManager.NavigateTo($"/neworder/{k.Id}");
    }
}