﻿@page "/neworder"
@page "/neworder/{ProdId}"

@using ISproj.Models
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (ProdId == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@user" Submit="@(async (UserDTO args) => { await Submit(args); })">
        <RadzenFieldset Text="Order Details">
            <ChildContent>
                <div class="row">
                    <div class="col-md-2">
                        <RadzenLabel Text="Amount">
                        </RadzenLabel>
                    </div>
                    <div class="col-md-2">
                        <RadzenNumeric style="width: 100%;" Name="Amount" @bind-Value="user.amount">
                        </RadzenNumeric>
                    </div>
                </div>
            </ChildContent>
        </RadzenFieldset>
        <div>
            <div class="col-md-12 d-flex align-items-end" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Confirm">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel">
                </RadzenButton>
            </div>
        </div>
    </RadzenTemplateForm>
}

@code {
    [Parameter]
    public string ProdId { get; set; }

    public class UserDTO
    {
        public int amount { get; set; }
        public string password { get; set; }
    }
    public UserDTO user = new UserDTO();

    void Cancel()
    {
        NavigationManager.NavigateTo("/Catalog");
    }

    async Task Submit(UserDTO arg)
    {
        var order = new ProductOrder();
        if (user.amount > 0 && uint.TryParse(ProdId, out var pid))
        {
            order.FkProduct = pid;
            var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
            var id = context.Client.SingleOrDefault(x => x.Mail == authState.User.Identity.Name).Id;
            order.FkClient = id;
            order.Amount = (uint)user.amount;
            order.ReturnedAmount = 0;
            context.ProductOrder.Add(order);
            await context.SaveChangesAsync();
        }
        NavigationManager.NavigateTo("/Catalog");
    }
}
