﻿@page "/Orders"

@using ISproj.Models
@using Microsoft.EntityFrameworkCore;
@inject isprojContext context
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenGrid @ref="ordersGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4" AllowSorting="true" Data="@orders" TItem="ProductOrder" ColumnWidth="200px">
        <Columns>
            <RadzenGridColumn TItem="ProductOrder" Title="Id" Property="Id" />
            <RadzenGridColumn Width="200px" TItem="ProductOrder" Property="Amount" Title="Amount">
                <EditTemplate Context="order">
                    <RadzenNumeric style="width: 100%;" Name="Amount" @bind-Value="order.Amount">
                    </RadzenNumeric>
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ProductOrder" Title="Finished" Property="Done" />
            <RadzenGridColumn TItem="ProductOrder" Title="Date" Property="Date" />
            <RadzenGridColumn TItem="ProductOrder" Title="DeliveryDate" Property="DeliveryDate" />
            <RadzenGridColumn TItem="ProductOrder" Context="sampleBlazorModelsSampleOrder" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="order">
                    <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => EditRow(order))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="order">
                    <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) => UpdateRow(order))">
                    </RadzenButton>
                    <RadzenButton Icon="cancel" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary" Click="@((args) => CancelEdit(order))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ProductOrder" Context="course" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                <Template Context="order">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="highlight_off" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="order">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="highlight_off" Size="ButtonSize.Small" Click="@(args => DeleteRow(order))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code {
    IEnumerable<ProductOrder> orders;
    RadzenGrid<ProductOrder> ordersGrid;
    ProductOrder order;

    protected override async Task OnInitializedAsync()
    {
        var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
        var id = context.Client.SingleOrDefault(x => x.Mail == authState.User.Identity.Name).Id;
        orders = await Task.FromResult(context.ProductOrder.Where(o => o.FkClient == id));
    }

    void EditRow(ProductOrder order)
    {
        ordersGrid.EditRow(order);
    }

    void UpdateRow(ProductOrder order)
    {
        ordersGrid.UpdateRow(order);

        context.Update<ProductOrder>(order);
        context.SaveChanges();
    }

    void CancelEdit(ProductOrder order)
    {
        ordersGrid.CancelEditRow(order);

        var orderEntry = context.Entry(order);
        orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
        orderEntry.State = EntityState.Unchanged;
    }

    void DeleteRow(ProductOrder order)
    {
        context.Remove<ProductOrder>(order);
        context.SaveChanges();

        ordersGrid.Reload();
    }
}